.App {
  text-align: center;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}
#intro-text {
  margin-top: 20px;
}

#authentification {
  width: 50%;
  margin-left: 25%;
  margin-top: 80px;
}

#footer {
  width: 100%;
  height: 60px;
  margin-top: 150px;
  bottom: 0px;
}

